@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark-pastel-red: #661F30;
  --color-bright-pastel-red: #E36178;
  --color-bright-pastel-pink: #EEB2AD;
  --color-pastel-brown: #F0E0CF;
  --color-neon-yellow: #F5F5AD;
  --color-pastel-azure: #9FC1DF;
  --color-neutral-white: #FCFCFC;
  --color-neutral-lightest: #F8F6F7;
  --color-neutral-lighter: #E1DFE0;
  --color-neutral-light: #B2B0B1;
  --color-neutral: #969394;
  --color-neutral-dark: #857C7F;
  --color-neutral-darker: #5D5759;
  --color-neutral-darkest: #363132;
  --color-black: #0E0B0C;
  --color-beige-light: #F7F5F2;
  --color-beige: #E9E5DF;
  --color-beige-dark: #DAD3C8;

  --font-family-primary: 'Neue Haas Grotesk Display', sans-serif;

  /* Desktop Font Sizes */
  --font-size-h1: 56px;
  --font-size-h2: 48px;
  --font-size-h3: 32px;
  --font-size-h4: 28px;
  --font-size-text-large: 24px;
  --font-size-text-medium: 18px;
  --font-size-text-regular: 16px;
  --font-size-text-small: 14px;
  --font-size-text-extra-small: 12px;

  /* Mobile Font Sizes */
  --font-size-h1-mobile: 40px;
  --font-size-h2-mobile: 32px;
  --font-size-h3-mobile: 24px;
  --font-size-h4-mobile: 16px;
  --font-size-text-large-mobile: 20px;
  --font-size-text-medium-mobile: 16px;
  --font-size-text-regular-mobile: 14px;
  --font-size-text-small-mobile: 12px;

  /* Line Heights */
  --line-height-base: 1.5;
  --line-height-tight: 120%;
  --line-height-loose: 150%;

  /* Grid Margins and Gutters */
  --grid-margin-desktop: 40px;
  --grid-gutter-desktop: 24px;
  --grid-margin-mobile: 16px;
  --grid-gutter-mobile: 20px;
}

/* Ensure global font family and line height */
body {
  font-family: var(--font-family-primary);
  line-height: var(--line-height-base);
  color: var(--color-neutral-darkest);
}

/* Override Tailwind's heading styles */
h1, h2, h3, h4 {
  font-family: var(--font-family-primary);
  font-weight: 700;
}

h1 { font-size: var(--font-size-h1); line-height: var(--line-height-tight); }
h2 { font-size: var(--font-size-h2); line-height: var(--line-height-tight); }
h3 { font-size: var(--font-size-h3); line-height: var(--line-height-loose); font-weight: 600; }
h4 { font-size: var(--font-size-h4); line-height: var(--line-height-loose); font-weight: 600; }

/* Text styles for various classes */
.text-large { font-size: var(--font-size-text-large); line-height: var(--line-height-loose); }
.text-medium { font-size: var(--font-size-text-medium); line-height: var(--line-height-loose); }
.text-regular { font-size: var(--font-size-text-regular); line-height: var(--line-height-loose); }
.text-small { font-size: var(--font-size-text-small); line-height: var(--line-height-loose); }
.text-extra-small { font-size: var(--font-size-text-extra-small); line-height: var(--line-height-loose); }

/* Mobile Responsive Font Sizes */
@media (max-width: 768px) {
  h1 { font-size: var(--font-size-h1-mobile); }
  h2 { font-size: var(--font-size-h2-mobile); }
  h3 { font-size: var(--font-size-h3-mobile); }
  h4 { font-size: var(--font-size-h4-mobile); }
  .text-large { font-size: var(--font-size-text-large-mobile); }
  .text-medium { font-size: var(--font-size-text-medium-mobile); }
  .text-regular { font-size: var(--font-size-text-regular-mobile); }
  .text-small { font-size: var(--font-size-text-small-mobile); }
}

/* Additional utility class for background color */
.bg-beige {
  background-color: var(--color-beige);
}

/* Custom Modal Styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.modal-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}
/* Apply styling to retain WordPress formatting */
.formatted-content {
  font-size: 18px;
  color: #0E0B0C;
  font-weight: lighter;
}
.formatted-content a {
text-decoration: underline;
}
.formatted-content p {
  margin-bottom: 1.5em;

}
.blog-content p{
  margin-top: 1.5em;
}
.social-link p{
  margin-top: 0px !important;
}
.wp-block-heading{
    margin-top: 32px;
    font-size: 40px;
}
.formatted-content h4{
  font-size: 18px;
  font-weight: 600;
}

.formatted-content ul, .formatted-content ol {

}

.formatted-content ul li, .formatted-content ol li {
  margin-bottom: 0.5em;
}

.formatted-content img {
  max-width: 100%;
  height: auto;
}

.formatted-content blockquote {
  margin: 1em 0;
  padding-left: 1em;
  border-left: 3px solid #ccc;
  color:#0E0B0C;
}

.wp-block-image img{
  border-radius: 16px;
  margin-top: 32px;
}
#paczkomaty-widget {
  width: 100%;
  height: 400px;
  position: relative;
}

/* Add to your CSS/Styles */
.input-container {
  position: relative;
}

.input-label {
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 14px;
  color: #000;
  font-weight: light;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #000;
  background: #fff;
  outline: none;
  font-size: 16px;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: -18px;
  font-size: 12px;
  color: #000;
}


.icons-container {
  display: flex;
  align-items: center;
  gap: 16px; /* Adjust the gap between icons */
}

.icon-image {
  height: 34px; /* Set a fixed height for all icons */
  width: auto; /* Maintain the aspect ratio */
  object-fit: contain; /* Ensure the SVGs scale properly */
  display: block; /* Prevent inline spacing issues */
}
.my-icons-container {
  justify-content: center;
}

.my-icon {
  border: 1px solid #ddd;
  border-radius: 8px;
  image-rendering: crisp-edges; /* For sharper edges */
  image-rendering: pixelated; 
}
.icons-container {
  display: flex;
  align-items: center;
  gap: 4px; /* Space between icons */
  justify-content: center;
}

.icon-image {
  image-rendering: crisp-edges; /* For sharp SVG edges */
}


.price-slider {
  width: 100%;
}

.price-slider {
  width: 100%;
}

.horizontal-slider {
  height: 2px;
  background: #e0e0e0;
  border-radius: 2px;
  position: relative;
  margin-top: 8px;
}

.slider-thumb {
  height: 20px;
  width: 20px;
  background: #661f30;
  border-radius: 50%;
  cursor: grab;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.horizontal-slider-track {
  height: 2px;
  border-radius: 2px;
}

.inactive-track {
  background: #e0e0e0; /* Inactive track color */
}

.active-track {
  background: #661f30; /* Active track color */
}

input {
  font-size: 16px;
  background-color: transparent; /* Transparent background */
  outline: none;
  color: black;
}

input:focus {
  border-color: #661f30;
}




